<html lang="en" ng-app='taskApp'>
    <head>
        <meta charset="utf-8"/>
        <title>Tasks</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/v-accordion.css">
    </head>
    <body>
        
    <div class="container-fluid">
        <div class='col-md-10' id='tasksDiv' ng-controller="taskAppController">
            <div class='col-md-11'><h3>Task App:</h3></div>
            <div class='col-md-1'><button class='btn btn-xsm btn-success' ng-click="task(null, null, 'Add')">Add Task</button></div>
            <div class='row col-md-12'>
                <v-accordion class="vAccordion--default" multiple>
                    <div ng-repeat="pane in tasks" ng-include="'views/panes.html'"></div>
                </v-accordion>
            </div>
        </div>
    </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-touch.min.js"></script>
        <script src="js/tasks.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
        <script src="js/ui-bootstrap-tpls-2.1.3.min.js"></script>
        <script src="js/v-accordion.min.js"></script>
    </body>
</html>